.container {
	width: 90%;
	margin: 0 auto;
}

.center {
	text-align: center;
}
.responsive-img {
	max-width: 100%;
	max-height: 55px;
}

@media screen and (min-width: 647px) {
	.responsive-img {
		max-height: 43px;
	}
}