<div id="address_{{ address_type }}_{{ counter }}"
     class="form-address-wrapper input"
     data-name="address">

    <div class="form-input-wrapper input_address1 ">
        <label for="address1" class="active">Address 1</label>
        <input class="" name="address1_{{ address_type }}" type="text" value="{{ address1 }}">
    </div>

    <div class="form-input-wrapper input_address2 ">
        <label for="address2" class="active">Address 2</label>
        <input class="" name="address2_{{ address_type }}" type="text" value="{{ address2 }}">
    </div>

    <div class="form-input-wrapper input_city ">
        <label for="city" class="active">City</label>
        <input class="" name="city_{{ address_type }}" type="text" value="{{ city }}">
    </div>

    <div class="form-input-wrapper input_state ">
        <label for="state" class="active">State</label>
        <input class="" name="state_{{ address_type }}" type="text" value="{{ state }}">
    </div>

    <div class="form-input-wrapper input_zip ">
        <label for="zip" class="active">Zip</label>
        <input class="" name="zip_code_{{ address_type }}" type="text" value="{{ zip_code }}">
    </div>

    <div class="form-input-wrapper input_country ">
        <label for="country" class="active">Country</label>
        <input class="" name="country_ {{ address_type }}" type="text" value="{{ country }}">
    </div>

</div>
