<div class="dashboard_stats">
	<div class="container">
		<div class="row">
            <div class="col s6">
                    <h5><i class="small material-icons grey-text text-darken-1">assignment</i><span>  # </span>Registered Projects</h5>
            </div>
            <div class="col s6">
                    <h5><i class="small material-icons grey-text text-darken-1">note_add</i><span>  # </span>Projects Added This Month</h5>
            </div>
            <div class="col s6">
                    <h5><i class="small material-icons grey-text text-darken-1">perm_identity</i><span>  # </span>Active Users</h5>
            </div>
            <div class="col s6">
                    <h5><i class="small material-icons grey-text text-darken-1">grade</i><span>  # </span>Approved Projects</h5>
            </div>
        </div>
    </div>
    </div>

        <footer class="page-footer grey darken-4">
    <div class="footer-copyright grey darken-4">
        <div class="container center">
            © 2016 QIPR Approver {{ version_number }}
        </div>
    </div>
</footer>
