<div class="form-input-wrapper input_{{ name }} {{div_class_list}} ">
    <label for="{{ name }}">{{ label }} - {{selected}}</label>
    <select class="form__input--with-border {{ input_class_list }} browser-default" name="select-{{ name }}" id="select-{{ name }}" {{ is_disabled }}>
        <option disabled selected value> -- {{ label }} -- </option>
        {% for option in options %}
        <option value="{{ option }}" {% if other and 'other' == option or selected == option %}selected{% endif %}>{{ option | title }}</option>
        {% endfor %}
    </select>
</div>
