<div class="question">
    <p class="question__text">{{ question_text }} </p>

    <div class="cts-modal">
      <a class="modal-trigger question__modal" href="#modal--{{ question_id }}"> [ Why are we asking? ]</a>
        
        <div id="modal--{{ question_id }}" class="modal modal-fixed-footer">
            <div class="modal-content">
                <h5 class="question__text">{{ question_text }}</h5>
                <p class="question__description">{{ question_description }}</p>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Got it!</a>
            </div>
        </div>
    </div>

    <ul>
        {% for choice in answers %}
            <p class="question__yn">
                <input name="question_{{ question_id }}"
                       class="with-gap"
                       onchange="window.submit_answer.call(this, {{ question_id }}, {{ project_id }}, {{ choice.id }})"
                       type="radio"
                       value="{{ choice.id }}"
                       id="question_{{ question_id }}__choice_{{ choice.id }}"
                       {% if choice.selected %}
                           checked
                       {% endif %}
                       />
                <label for="question_{{ question_id }}__choice_{{ choice.id }}">{{ choice.text }}</label>
            </p>
        {% endfor %}
    </ul>
</div>
