<div id="tagbox_{{ name }}"
     class="form-tagbox-wrapper input_{{ name }}"
     data-name="{{ name }}">

    <ul id="tag-holder_{{ name }}" class="tag-holder">
    <label class="tag_label" for="{{ name }}">{{ label }}</label>
        {% for option in selected %}
            <div class="tag__container">
                <li class="tag" >{{ option }}</li>
                {% if disabled != "disabled" %}
                  <i class="tiny tag__delete">cancel</i>
                {% endif %}
            </div>
        {% endfor %}
    </ul>

    <input id="tag-input-entry_{{ name }}"
           class="tagbox__input"
           type="text"
           data-list="datalist_{{ name }}"
           {{ disabled }}>

    <ul class="datalist" id="datalist_{{ name }}"></ul>

     <input style="display: none"
           id="tag-input_{{ name }}"
           name="{{ name }}"
           type="text"
           value="{{ selected_values_string }}"/>
</div>
