{% load staticfiles %}
<div class="row error__margin">
    <div class="col s12  nonapprove__center">
        <div class="error__404">404</div>
    </div>
    <div class="col s12">
        <div class="valign-wrapper">
            <h1 class="valign error__404--header">Ooops! The page you are searching for does not exist or another error occurred. Try your search again or head back to the <a href="{% url 'approver:dashboard' %}">dashboard</a> to view your projects and profile.</h1>
        </div>
    </div>
</div>