<form action="{% url 'approver:aboutyou' %}" method="post"
      onkeypress="return event.keyCode != 13;">
    {% csrf_token %}
    <h1>About You</h1>
    <p>
        Please tell us about yourself.
    </p>
    {% load form_input %}
    {% load tagbox %}
    {% form_input form.user_name %}
    {% form_input form.first_name %}
    {% tagbox form.speciality_tags %}
    {% form_input form.last_name %}
    {% form_input form.webpage_url %}
    {% form_input form.email %}
    {% form_input form.business_phone %}
    {% form_input form.contact_phone %}
    <input type="submit"
           value="Submit"
           class="btn"
           />
</form>

