<form action="{% url 'approver:aboutyou' %}" method="post"
      onkeypress="return event.keyCode != 13;" class="col s10">

    {% csrf_token %}
    <h1>About You</h1>
    <p>
        Please tell us about yourself.
    </p>
    {% load form_input %}
    {% load tagbox %}
    {% load address %}
    {% form_input form.user_name %}
    {% form_input form.first_name %}
    {% form_input form.last_name %}
    {% form_input form.title %}
    {% form_input form.department %}
    {% tagbox form.clinical_area form.is_disabled %}

    {% for business_address in form.business_address.all %}
        {% address business_address 'business' forloop.counter %}
    {% empty %}
        {% address empty_address 'business' %}
    {% endfor %}
    {% form_input form.email %}
    {% tagbox form.speciality_tags %}
    {% tagbox form.expertise_tags %}
    {% tagbox form.qi_interest_tags %}
    {% tagbox form.suffix_tags %}
    {% form_input form.business_phone %}
    {% form_input form.contact_phone %}
    {% form_input form.webpage_url %}
    {% form_input form.last_login True %}
    {% form_input form.account_expiration True %}
    {% form_input form.account_created True %}
    Is quality improvement a requirement of your training program?
    <p>
        <input class="with-gap" name="qi_required" value ="true" type="radio" id="qi_required_yes" {% ifequal form.qi_required True %} checked {% endifequal %} />
        <label for="qi_required_yes">Yes</label>
        <input class="with-gap" name="qi_required" value="false" type="radio" id="qi_required_no" {% ifequal form.qi_required False %} checked {% endifequal %} />
        <label for="qi_required_no">No</label>

    </p>
    <input type="submit"
           value="Submit"
           class="btn"
           />
</form>

