</div>
<div class="headerbg__interiorpg center">
  <h1 class="question__header font__opensans">QI Program Evaluation Survey</h1>
  <p class="question__header--sub">Please answer the following questions about your QI project.</p>
</div>
<div class="container"> 
<form action="{% url 'approver:approve' project_id=project_id %}"
      method="post"
      onkeypress="return event.keyCode != 13">

    {% csrf_token %}

    {% load question %}
    {% for item in sorted_questions %}
        {% question item %}
    {% endfor %}

    <input type="submit"
           value="Submit"
           class="btn"
           />
</form>
