<div>
    <h3>
        <a class="btn-floating btn-large waves-effect waves-light btn right" href="{% url 'approver:projects' %}"><i class="material-icons">add</i></a>
    </h3>
</div>
<div>
    <div style="display:inline">
        List of Projects:
    </div>
    <table class="striped">
        <thead>
            <tr>
                <th data-field="number">#</th>
                <th data-field="title">Title</th>
                <th data-field="role">Role</th>
                <th data-field="Approval">Project Approval</th>
                <th data-field="delete">Delete?</th>
            </tr>
        </thead>
        <tbody>
            {% for project in projects %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><a href="{% url 'approver:projects' project_id=project.pk %}" class="project__title">{{ project.title }}</td>
                    <td class="project__title">{{ project.role }}</td>
                    {% if project.role == "PI" %}
                        {% if project.is_approved %}
                            <td><a href="{% url 'approver:project_status' project_id=project.pk %}">See Certificate</a></td>
                            <td></td>
                        {% else %}
                            <td><a href="{% url 'approver:approve' project_id=project.pk %}">Project Approval</a></td>
                            <td><form action="{% url 'approver:project_del' project_id=project.pk %}" method="post" onSubmit="return confirm('Are you sure you want to delete project {{ forloop.counter }}?');">{% csrf_token %}
                                    <button class="btn" type="submit" value="Delete Project"> <i class="material-icons">delete</i></button>
                                </form>
                            </td>
                        {% endif %}
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


