<div>
    <h3>
        <a href="{% url 'approver:projects' %}">Add Project</a>
    </h3>
</div>
<div>
    <div style="display:inline">
        List of Projects:
    </div>
    <table class="striped">
        <thead>
            <tr>
                <th data-field="title">Title</th>
                <th data-field="edit_link">Edit Project</th>
                <th data-field="role">Role</th>
            </tr>
        </thead>
        <tbody>
            {% for project in projects %}
                <tr>
                    <td class="project__title">{{ project.0 }}</td>
                    <td><a href="{% url 'approver:projects' project_id=project.1 %}">link</a></td>
                    <td class="project__title">{{ project.2 }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


