<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load staticfiles %}
        <link href="{% static 'qipr/css/materialize.css' %}" type="text/css" rel="stylesheet"/>
        <link href="{% static 'qipr/css/main.css' %}" type="text/css" rel="stylesheet"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Amiri|Eczar" rel="stylesheet">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'qipr/img/favicon-32x32.png' %}">
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
        <title>QIPR</title>
    </head>
    <body>
        <div id="BASE_URL" style="display: none">{{base_url}}</div>
        <main>
            <div class="navbar-fixed" style="display:{{ navbar_display }};">
                <nav>
                    <div class="nav-wrapper bg-blue">
                        <a id="icon-container" class="icon" href="{% url 'approver:index' %}">
                            <img class="nav__logo" src="{% static 'qipr/img/qipr_outlines.png' %}">
                        </a>
                        <a href="#" data-activates="mobile-demo" class="button-collapse hide-on-med-and-up"><i class="material-icons">menu</i></a>
                        <ul class="right hide-on-small-only">
                            {% if request.user.person.is_admin %}
                            <li class="nav_li"><a href="{% url 'approver:dashboard_su' %}">Admin</a></li>
                            {% endif %}
                            <li class="nav_li"><a href="{% url 'approver:dashboard' %}">Dashboard</a></li>
                            <li class="nav_li"><a href="{{ registry_search_url }}">Search Registry</a></li>
                            <li class="nav_li"><a href="{{ faq_url }}">FAQs</a></li>
                            <li><a class="btn btn__logout" href="{% url 'approver:logout' %}">Logout</a></li>
                        </ul>
                        <ul class="side-nav" id="mobile-demo">
                            {% if request.user.person.is_admin %}
                            <li><a href="{% url 'approver:dashboard_su' %}">Admin</a></li>
                            {% endif %}
                            <li><a href="{% url 'approver:dashboard' %}">Dashboard</a></li>
                            <li><a href="{{ registry_search_url }}">Search Registry</a></li>
                            <li><a href="">FAQs</a></li>
                            <li><a class="btn" href="{% url 'approver:logout' %}">Logout</a></li>
                        </ul>
                    </div>
                </nav>
            </div>

            <div class="navbar-fixed navbar-fixed--admin" style="display:{{ staging_bar_display }};">
                <nav class="orange">
                    <div class="nav-wrapper">
                            <div class="orange nav__secondary">
                                <h5>Staging Site: This site is for experimental and exploratory purposes only. If you would like to enter real project data, please do so on the live site <span><a href="https://qipr.ctsi.ufl.edu/approver/">https://qipr.ctsi.ufl.edu/approver/</a></span></h5>
                            </div>
                    </div>
                </nav>
            </div>


            <div class="container">
                {% include content %}
            </div>
            {% if toast_text %}
            <div id="toast" class="cts-toast">
                <span class="cts-toast__text">{{ toast_text }}</span>
            </div>
            {% endif %}
        </main>

        {% load footer %}
        <div class="{% if hide_stats %}hide_stats{% endif %}">
            {% footer %}
        </div>

        <script type="text/javascript">
            if (document.location.hostname.search("qipr.ctsi.ufl.edu") !== -1) {
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                                        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

                ga('create', 'UA-68255700-5', 'auto');
                ga('send', 'pageview');
            }
        </script>
        <script type="text/javascript" src="{% static 'qipr/js/materialize.js' %}"></script>
        <script type="text/javascript" src="{% static 'qipr/js/app.js' %}"></script>
        <script type="text/javascript" src="{% static 'qipr/js/functions.js' %}"></script>
    </body>
</html>
