</div>
    <div class="headerbg__interiorpg center">
      <h1 class="question__header font__opensans">QI Project Information Form</h1>
      <p class="question__header--sub">Please fill out the following form with information about your unique Quality Improvement project.</p>
    </div>
<div class="container">

{% if project_id %}
<form action="{% url 'approver:projects' project_id=project_id %}" onsubmit="submitProject.disabled=true;" autocomplete="off" method="post">
{% endif %}
{% if not project_id %}
    <form action="{% url 'approver:projects' %}" onsubmit="submitProject.disabled=true;" autocomplete="off" method="post">
{% endif %}
    {% csrf_token %}
    {% load form_input %}
    {% load form_input_textarea %}
    {% load tagbox %}
    {% load form_select %}
    <div class="row">
        <h5 class="project__subhead">Project Title</h5>
        {% form_input_textarea form.title form.is_disabled %}

        <h5 class="project__subhead">Project Description</h5>
        {% form_input_textarea form.description form.is_disabled %}

        <h5 class="project__subhead">Overall Project Goal</h5>
        {% form_input_textarea form.goal form.is_disabled %}

        <h5 class="project__subhead">Measures</h5>
        {% form_input_textarea form.measures form.is_disabled %}

        <h5 class="project__subhead">Collaborators</h5>
        <p>Start typing the collaborator's name and an email list should populate to choose from. If you do not see the name of your collaborator, please type their email address then press 'enter' to save.</p>
        <div class="col s12 bg__tags--blue1 emailtag__margin">
            {% tagbox form.collaborator form.is_disabled %}
        </div>
    
        <h5 class="project__subhead about__sectionspacing">Advisors</h5>
        <p>Start typing the advisor's name and an email list should populate to choose from. If you do not see the name of your advisor, please type their email address then press 'enter' to save.</p>
        <div class="col s12 bg__tags--blue1 emailtag__margin">
            {% tagbox form.advisor form.is_disabled %}
        </div>

        <h5 class="project__subhead about__sectionspacing">UF Health Big Aims</h5>
        <p>Please indicate the UF Health Big Aims relating to your project. To find out more about the UF Health Big Aims, please visit the <a href="https://ufhealth.org/quality-and-patient-safety/welcome#aims" target="_blank">UF Health Quality and Patient Safety page</a>.</p>
        {%  form_select form.bigaim form.is_disabled %}
    </div>

    <div class="row">
        <h5 class="project__subhead about__sectionspacing">Clinical Details</h5>
        <div class="col s12 bg__tags--blue1">
            {% tagbox form.mesh_keyword form.is_disabled %}
        </div>
    </div>

    <div class="row">
        <div class="col s12 m6 bg__tags--blue1">
            {% tagbox form.clinical_setting form.is_disabled %}
        </div>
        <div class="col s12 m6 bg__tags--blue2">
            {% tagbox form.clinical_area form.is_disabled %}
        </div>
    </div>

    {% form_input form.proposed_start_date form.is_disabled %}
    {% form_input form.proposed_end_date form.is_disabled %}
    {% if form.is_disabled %}
        <a href="{% url 'approver:project_status' project_id=project_id %}" class="btn seecert__btn">See Certificate</a>
    {% else %}
        <input class="btn about__submit" name="submitProject" type="submit" value="Submit Project" />
    {% endif %}
</form>
