{% load approved_certificate %}
{% load staticfiles %}

{% if is_approved %}
<div class="center">
	<h1 class="font__roboto">Congratulations!</h1>
	<h4 class="row font__opensans">Your Quality Improvement Project has been approved.</h4>
</div>
{% approved_certificate project %}
{% elif need_advisor %}

<div class="row nonapprove__margin--top">
	<div class="col s6 m12 nonapprove__center">
		<img src="{% static 'qipr/img/caution.png' %}" class="nonapprove__caution--advisor" alt="IRB Caution Sign"/>
	</div>
    <div class="col s6 m12">
  			<h1 class="nonapprove__header--advisor center-align">You need an advisor for your project.</h1>
	</div>
	<div class="col s12 m12">
		<p class="nonapprove__body">If you wish to pursue your project, you will need to have an advisor first.  For more information on how to obtain an advisor, please contact the Quality Improvement office between 8am and 5pm Monday - Friday. Thanks!</p>
		<p class="nonapprove__body">Email: <a class="nonapprove__body--link" href="mailto:someemail@shands.ufl.edu?subject=QIPR Advisor Request">someemail@shands.ufl.edu</a></p>
		<p class="nonapprove__body">Phone: <a class="nonapprove__body--link" href="tel:3522650002">352-265-0002</a></p>
	</div>
	<div class="row">
		<div class="col s12">
			<a class="back__dashboard center" href="{% url 'approver:dashboard' %}">- Back to Dashboard -</a>
		</div>
	</div>
</div>

{% else %}

<div class="row nonapprove__margin--top">
	<div class="col s12 m4 nonapprove__center">
		<img src="{% static 'qipr/img/caution.png' %}" class="nonapprove__caution" alt="IRB Caution Sign"/>
	</div>
    <div class="col s12 m8">
		<div class="valign-wrapper">
  			<h1 class="valign nonapprove__header">Your project may require IRB (Institutional Review Board) Approval.</h1>
		</div>
	</div>
	<div class="col s12 m12">
		<p class="nonapprove__body">If you wish to pursue your project and have never submitted a research protocol to the IRB, all submissions are completed via an electronic system called myIRB.  Please refer to this link <a target="_blank" class="nonapprove__body--link" href="http://irb.ufl.edu/myirb.html">http://irb.ufl.edu/myirb.html</a>, which will guide you through the process; or refer you to a contact person.  Thanks!</p>
	</div>
	<div class="col s12 nonapprove__center">
		<img src="{% static 'qipr/img/uf_irb.png' %}" class="center-align nonapprove__irb" alt="University of Florida Institutional Review Board"/>
	</div>
	<div class="col s12">
		<a class="back__dashboard center" href="{% url 'approver:dashboard' %}">- Back to Dashboard -</a>
	</div>
</div>


{% endif %}
