<div>
    <h3>Similar Projects </h3>
    <p>The Quality Improvement office encourages you to join an existing project whenever possible. We have found the following projects which may be similar to the project you're proposing. If you are interested in joining an existing project, please click the collaborate button to contact the PQI of the project. If the similar projecs are not useful for your unique project, please continue to the project submission page.</p>
</div>
<div>
    <table class="striped">
        <thead>
            <tr>
                <th data-field="title">Title</th>
                <th data-field="edit_link">Details</th>
                <th data-field="role">Role</th>
                <th data-field="relevance">Relevance</th>
            </tr>
        </thead>
        <tbody>
            {% for member_id, project, similarity in project_scores %}
                <tr>
                    <td class="project__title">{{ project.title }}</td>
                    <td><a href="{% url 'approver:projects' project_id=project.pk %}">View</a></td>
                    <td class="project__title">{{ project.role }}</td>
                    <td class="project__similarity"> {{ similarity | floatformat:2 }} </td>
                    {% if project.role == "PI" %}
                        {% if project.is_approved %}
                            <td><a href="{% url 'approver:project_status' project_id=project.pk %}">See Certificate</a></td>
                        {% else %}
                            <td><a href="{% url 'approver:approve' project_id=project.pk %}">Project Approval</a></td>
                        {% endif %}
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br/>
    <form method="post" onkeypress="return event.keyCode != 13;">
        {% csrf_token %}
        <input class="btn" type="submit" value="Submit Project" />
    </form>
</div>


