<div>
    <h3 class="center-align font__opensans similar__header">Similar Projects </h3>
    <p class="similar__body">The Quality Improvement office encourages you to join an existing project whenever possible. We have found the following projects which may be similar to the project you're proposing. If you are interested in joining an existing project, please click the collaborate button to contact the PQI of the project. If the similar projecs are not useful for your unique project, please continue to the project submission page.</p>
</div>

<form class="nonapprove__center" method="post" onkeypress="return event.keyCode != 13;">
    {% csrf_token %}
    <input class="btn__similar btn" type="submit" value="Continue to project submission >>>" />
</form>
<div>
    <table class="striped">
        <thead>
            <tr>
                <th class="dashboard_row-title" data-field="title"><h5>Title</h5></th>
                <th class="dashboard_row-title" data-field="start_date"><h5>Expected Start Date</h5></th>
                <th class="dashboard_row-title" data-field="role"><h5>Contact</h5></th>
            </tr>
        </thead>
        <tbody>
            {% for member_id, project, similarity in project_scores %}
                <tr>
                    <td class="project__title">{{ project.title }}
                        <a class="dashboard_btns-view" href="{% url 'approver:projects' project_id=project.pk %}">View Project</a>
                    </td>
                    <td class="project__title">{{ project.proposed_start_date | date:"M d Y" }}</td>
                    <td><div class="project__collaborate"><p><a href="mailto:{{ project.owner.email_address }}?subject=QI Project Collaboration Request&body=Hi {{ project.owner.first_name }} {{ project.owner.last_name }}. The QI Registry shows that a project I am about to begin is a {{ similarity | floatformat:2 }}%25 match with your &quot;{{ project.title }}&quot; project. I am interested in collaborating with you on it. Can we set up a time for us to meet to discuss in greater detail how we can work together? Please reply back to this email at your earliest convenience. Thanks!%0D%0A%0D%0A To view your project and add me as a collaborator, please follow this link: {{ request.scheme }}://{{ request.get_host }}{% url 'approver:projects' project_id=project.pk %}">Collaborate</a></p></div></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br/>
</div>

</div>

<div class="similar__search--bg">
    <div class="container">
        <div class="row similar__search--margin">
            <div class="col s12 m8">
                <h3 class="similar__search--header">Interested in exploring our entire registry of Quality Projects?</h3>
            </div>

            <div class="col s12 m4">
                <h3 class="similar__search--search">Start your search here!</h3>
                <div class="nonapprove__center">
                    <a href="#"><i class="large material-icons similar__search--searchicon">search</i></a>
                </div>
            </div>
        </div>
    </div>
</div>


