</div>
{% load staticfiles %}
<div class="navbar-fixed navbar-fixed--admin">
    <nav>
        <div class="nav-wrapper orange">
            <a id="icon-container" class="left" href="{% url 'approver:index' %}">
                <div class="container">
                    <h4>Administrator</h4>
                </div>
            </a>
        </div>
    </nav>
</div>

<div class="row dashboard_border">

  <div class="col s12 m2 dashboard_menu">
      <ul>
          <li class="dashboard_menu-item"><a href="{% url 'approver:dashboard_su' %}">Modify Projects</a></li>
          <li class="dashboard_menu-item-active"><a href="{% url 'approver:userlist' %}">Modify Users</a></li>
      </ul>
  </div>

  <div class="col s12 m10 dashboard_border-left">
     <div class="row margin-top">
      <div class="headerbg__admin center">
          <div class="container">
            <h1 class="question__header font__opensans"><i class="icon__admin medium material-icons">settings</i> QI User List</h1>
            <p class="question__header--sub"></p>
          </div>
      </div>
           <div class="col s12">
              <div class="input-field dashboard_search">
                  <form method="post" action="{% url 'approver:userlist' %}">
                      {% csrf_token %}
                      <input placeholder="Search user" class="dashboard_search-input" id="userlist-search-text" type="search" name="search" value={{ search_query }} >
                      <input class="dashboard__search--projects" id="userlist-search-button" type="submit" value="&#128270;">
                  </form>
              </div>
          </div>
      </div>
      <table class="striped">
          <thead>
              <tr>
                  <th class="dashboard_row-title" data-field="role"><h5>Last Name</h5></th>
                  <th class="dashboard_row-title" data-field="role"><h5>First Name</h5></th>
                  <th class="dashboard_row-title" data-field="title"><h5>Email</h5></th>
                  <th class="dashboard_row-title" data-field="role"><h5>Edit User</h5></th>
          </thead>
          <tbody>
              {% for person in persons_page %}
		          <tr>
		              <td>{{ person.last_name }}</td>
		              <td>{{ person.first_name }}</td>
		              <td>{{ person.email_address }}</td>
		              <td><a href="{% url 'approver:about_you_superuser' person_id=person.id %}">Edit User</a></td>
		          </tr>
	            {% endfor %}
          </tbody>
      </table>


      <div class="row">
          <div class="col s12">
            {% if show_all %}
              <div class="pagination center-align">
                  <span class="step-links">
                      <a href="{% url 'approver:userlist' %}">Paginate Users</a>
                  </span>
              </div>
            {% endif %}
            {% if not show_all %}
              <div class="pagination center-align">
                  <span class="step-links">
                      {% if persons_page.has_previous %}
                          <a href="?page={{ persons_page.previous_page_number }}"> &lt; </a>
                      {% endif %}

                      <span class="current">
                          Page {{ persons_page.number }} of {{ persons_page.paginator.num_pages }}
                      </span>

                      {% if persons_page.has_next %}
                          <a href="?page={{ persons_page.next_page_number }}"> &gt; </a>
                      {% endif %}
                      {% if persons_page.has_next or persons_page.has_previous %}
                          <br>
                          <a href="?page=all">Show All</a>
                      {% endif %}
                  </span>
            {% endif %}
          </div>
      </div>

  </div>
</div>
