nav {
    background-color: #004d9a;
}

nav ul a {
    padding-left:.5rem;
    padding-right:.5rem;
}

nav .brand-logo {
    left: 0%;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    }

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.container__dashboard {
    width: 98%;
    margin: 0 auto;
    max-width: 1700px;
}

main {
    flex: 1 0 auto;
}

p, a {
    font-family: 'Open Sans', sans-serif;
    }

a:hover {
    color: #004d9a;
}    

h3 {
    font-family: 'Roboto Condensed', sans-serif;
}

input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]), input[type=datetime]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #ffaa00;
    box-shadow: 0 1px 0 0 #ffaa00;
}

.sec-pad {
    padding: 4rem 0;
}

.marginbtm0 {
    margin-bottom: 0;
}

.home__section {
    margin-bottom:0;
}

.bg__img {
    background: url("../img/cancer_hospital.png") no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 79.5rem;
}

.bg__ltblue {
    background-color: #43b1e5;
    margin-top: 1rem;
    opacity: 0.95;
    padding-top: 3rem !important;
    padding-bottom: 2rem !important;
}

.text__callout {
    font-size:2.2rem;
    color: #004d9a;
}

.text__blue {
    color: #004d9a;
    height: 4rem;
    padding-top: .5rem;
}

.signin {
    color: white;
    font-size: 1.3rem;
}

.div-pointer-container {
    height: 40px;
    margin-top: -40px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
}

.div-pointer-down--transparent {
    position: relative;
    margin: 0 auto;
    pointer-events: none;
    border: solid #FFF;
    border-top-color: transparent;
    z-index: 10;
    border-width: 25px;
}

.div-pointer-container:before, .div-pointer-container:after {
    content: " ";
    color: transparent;
    background-color: #FFF;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: block;
}

.landing__FAQ--font {
    font-size:1.25rem;
}

.landing__FAQ--font li {
    list-style-type:square;
}

.landing__FAQ--padding {
    padding-right: 2rem;
    }

.landing_FAQ--bullets {
    margin-left: 2rem;
}

.video__alignment {
    margin-top: 1rem;
}

img.bigaims__img {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.text__med {
    font-size:1.5rem;
}

.databar__icons {
    position: relative;
    top: .3rem;
}

/*Landing Page*/
.learn__getstarted {
    background-color:#004d9a;
    margin: 0 -0.75rem 2rem;
    padding: 1.5rem 0rem;
}

.learn__btns--fcm {
    margin-bottom:1rem;
    width:20rem;
}

.learn__btns--fcmtxt {
    font-size: 2rem;
    text-transform: capitalize;
    height: 3.5rem;
    line-height: 3.5rem;
}

.learn__btns--create {
    background-color: #f0b02f;
}

.learn__btns--create:hover {
    background-color: #f3aa16
}

.learn__btns--manage {
    background-color: #ecc475 !important;
}


/*Landing Page About QIPR Section*/
.aboutqipr__header {
    font-size: 1.6rem;
    text-transform: uppercase;
}

.about__collab {
    clear: both;
}

/*Landing Page Find Manage Create Section*/
.bg__img-graphs {
    background: url("../img/hero_img-charts.jpg") no-repeat bottom center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:80rem;
}

.box-white {
    background-color: white;
    border: 10px solid #e8e8e8;
    width: 100% !important;
    margin-bottom:1.5rem;
}

.fcm__text-box {
    font-size:1.2rem;
}

.fcm__titles {
    font-size: 3rem;
    padding-top: 2rem;
}

.create__img {
    padding: 0 2rem 1rem;
    max-width:300px !important;
}

.manage__btn {
    margin: .75rem 0;
    background-color: #999;
    font-size: 1.1rem;
    padding: .25rem 1rem .6rem;
    line-height: 1.1rem;
    width: 100%;
    white-space: normal;
    height: 4.5rem;
}

.manage__btn:hover, .manage__btn:focus {
    color: #ababab;
}

.manage__icon {
    font-size: 1.5rem !important;
    position: relative;
    top: .35rem;
}

.search__icon {
    color: #ef6c00;
    font-size:6rem !important;
}

.search__icon:hover {
    color: #004d9a;
    cursor: pointer;
}


/*Navbar*/
.nav_li {
    text-transform: uppercase;
}
.nav_li:hover {
    border-bottom: #039be5 4px solid;
}

.btn__logout {
    line-height: 2rem;
    height: 2rem;
    width: 5rem;
    padding: 0 .35rem;
}

nav ul a.btn:hover, .side-nav a.btn:hover, .side-nav a.btn-large:hover, .side-nav a.btn-large:hover {
    background-color: #e47004;
}

nav ul a:hover { 
    color: white;
}

nav .button-collapse {
    float: right;
}

/*404 Page*/
.error__404 {
    color: #e28f41;
    font-size: 12rem;
    text-align: center;
    line-height: 12rem;
}

.error__404--header {
    color: #686868;
    font-size: 2.5rem;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
}

.error__404--header a:hover {
    color: #004d9a;
    cursor: pointer;
}

.error__margin {
    margin: 5rem 0;
}

/*IRB Approval Page*/
.nonapprove__margin--top {
    margin-top:2rem;
    }

.nonapprove__center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nonapprove__irb {
    width: 100%;
    margin-top: 2rem;
}

.nonapprove__header, .nonapprove__header--advisor {
    color: #686868;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
    text-align: center;
}

.nonapprove__header {
    font-size: 2.5rem;
}

.nonapprove__header--advisor {
    font-size: 1.87rem;
}

.nonapprove__body {
    font-size:19px;
}

.nonapprove__body--link {
    font-weight: 600;
    color: #039be5;
}

.nonapprove__body--link:hover {
    color: #004d9a;
}

.nonapprove__caution {
    width: 18rem;
}

.nonapprove__caution--advisor {
    width: 100%;
}

/*Dashboard*/
.dashboard #content {
    width: 600px;
}

.dashboard_title {
    background-color: #f2f2f2;
    color: #004d9a;
    margin-top: 1rem;
    border: 1pt #d0d0d0 solid;
    border-bottom: 0;
}

.dashboard_border {
     border: #d0d0d0 solid 1pt;
 }

.dashboard_search {
    margin-top: 0;
    border: 1pt #ddd solid;
    height: 3rem;
}

.dashboard_search-input {
    border-bottom: none !important;
    height: 2rem !important;
    margin-bottom: 0 !important;
    padding: .5rem 1rem !important;
    float: left;
    width: 3.1rem !important;
}

.dashboard_search-close {
    padding: .5rem;
}

.input-field input[type=search]:focus {
    background-color: inherit;
}

.dashboard__search--projects {
    height:2.9rem;
    float:right;
    border-width: 0;
    background-color: #f2f2f2;
    padding: 0 1rem;
    font-size: 1.5rem;
}

.dashboard__search--projects:focus {
    background-color: #d0d0d0;
    outline-width: 0;
}

.dashboard_add-btn {
    font-size: 2rem;
    display: inline;
    border: dashed 2pt;
    padding: .01rem .7rem;
    margin-right: .7rem;
}

.dashboard_add-text {
    text-transform: uppercase;
    font-size: 1.25rem;
    display:inline;
}

.dashboard_add:hover {
    color: #004d9a;
}

.dashboard_row-title {
    color:#004d9a;
}

.dashboard_row-title li {
    font-weight: normal;
    color: grey;
}

.dashboard_row-id {
    padding-left: .5rem;
}

.dashboard_row-id {
    padding-left: .5rem;
}

.dashboard_column-id {
    padding-left: 1rem;
}

.dashboard__question {
    font-size: 1.1rem;
    display: inline-block;
    color: white;
    background-color: #004d9a;
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    border-radius: 1rem;
}

.dashboard__question:hover {
    background-color: #0089ec;
    color: white;
}

.dashboard_menu {
    border-bottom: #d0d0d0 solid 1pt;
}

.dashboard_menu-item, .dashboard_menu-item-active {
    padding-left: .7rem;
    font-size: 1.2rem;
}

.dashboard_menu-item a, .dashboard_menu-item-active a {
    color:black;
}

.dashboard_menu-item-active, .dashboard_menu-item:active, .dashboard_menu-item:visited {
    border-left: 3pt #004d9a solid;
    font-weight: 600;
}

.dashboard_menu-item a:hover {
    font-weight: 600;
    color: rgba(0, 0, 0, 0.87);
}

.dashboard_title-bg {
    margin-bottom:0;
}

.dashboard_delete {
    border: none;
    background-color: transparent;
    padding-left: 0;
}

.dashboard_delete--form {
    display: inline;
    color: #039be5;
}

.dashboard_delete--form input:hover {
    color: red;
}

.dashboard_btns-edit a:hover, .dashboard_btns-view:hover {
    color: #004d9a;
}

.dashboard_delete--form input:focus {
    outline: none;
}

.dashboard_projects-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    padding-top: 1.5rem;
    vertical-align: top !important;
}

td, th {
    vertical-align: top;
    padding-top: 1.5rem;
}

.dashboard_title-main {
    margin: .5rem 0;
    font-size: 2.5rem;
}

.dashboard_status a {
    font-weight: 600;
    font-size: 1.1rem;
}

.dashboard_status a:hover {
    color: #0089ec;
}

.dashboard__list {
    padding-bottom: .3rem;
    margin-bottom: .3rem;
}

.dashboard_status {
    padding-left:2rem;
}

.dashboard_status--margin {
    margin-top: 0;
}

.dashboard_row-title-project {
    padding-left:2rem;
}

.dashboard_stats {
    padding-top: 1rem;
    background-color: #004d9a;
    margin-bottom: 0;
    color: white;
}

.dashboard__updated {
    color: #bdbdbd;
    font-style: italic;
    padding-top: .3rem;
    }

.dashboard_btns-edit, .dashboard_btns-view {
    display:block;
    padding-top:1rem;
}

.pagination {
    margin-top:2rem;
}


/*About Me Page*/
.about__question {
    font-weight: 600;
    font-size: 1.3rem;
}

.about__question--sub {
    font-size: 1.2rem;
    color: grey;
    font-weight: 300;
    margin-top: 0;
    max-width: 70rem;
}

.about__question--train {
    max-width: 28rem;
}

[type="radio"]:not(:checked) + label.qi_required_na, [type="radio"]:checked + label.qi_required_na {
    height: inherit;
}

.about__acctinfo {
    float:left;
}

.about__header .input_clinical_area ul label {
    font-size: 0.8rem;
    color: #9e9e9e;
}

.row .about__header {
    padding: 0;
}

form .about__acctinfo .about__acctinfo--border  {
    border: none;
    padding-left: 0;
}

.about__submit {
    display: block;
    margin: 1rem 0 6rem 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}

form .about__field--box {
    padding-left: .5rem;
}

.form-address-wrapper {
    padding: 1rem 1rem 0;
}

.collection {
    border: 1px solid #9e9e9e;
    border-radius: 5px;
    margin: 0.5rem -.5rem 0 0;
}

.about__field--width100 {
    min-width: 100%;
}

.col.about__selfclass {
    padding-top: 1rem;
}

select:focus {
    outline: 1px solid #ffaa00;
}

/*Project Page*/
.about__txtfield--date {
    width: 12.5rem;
}

.about__txtfield--100 {
    min-width: 100%;
}

.col.bg__tags--blue1, .col.bg__tags--blue2, .col.about__bgtags--blue1, .col.about__bgtags--blue2, .col.about__bgtags--blue3, .col.about__bgtags--blue4 {
    background-color: rgb(243, 250, 255);
    padding: 1rem;
    border-radius: .5rem;
    border: grey solid 1pt;
}

.col.about__bgtags--blue2, .col.about__bgtags--blue3 {
    margin-top: 1rem;
}

.col.about__bgtags--blue4.s12 {
    margin-left: .8rem;
    width: 98%;
}

.project__subhead, .input_proposed_start_date label, .input_proposed_end_date label, .input_keyword ul label, .input_big_aim ul label, .input_safety_target ul label, .input_clinical_area ul label, .input_clinical_setting ul label {
    font-size: 1.3rem;
    color: #5d5d5d;
}

.form-input-wrapper textarea.form__textarea--with-border:focus:not([readonly]) {
    border: 1px solid #e28f41;
    box-shadow: 1px 1px 2px 1px #e28f41;
}

.seecert__btn {
    margin-top: 1rem;
}

/*Similar Projects*/
.btn__similar {
    font-size: 1.4rem;
}

.similar__header {
    font-weight:200;
    }

.similar__body {
    text-align: center;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 1.7rem;
    color: #757575;
}

.similar__search--bg {
    background-color: #004d9a;
    color:white;
    padding: 3rem 0;
}

.similar__search--search, .similar__search--header {
    font-family:'Open Sans', sans-serif;
    font-weight:200;
    text-align:center;
}

.similar__search--search {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 2.2rem;
    margin-bottom: 0;
}

.similar__search--searchicon:hover {
    color: #b1dcfb;
}

.similar__search--searchicon {
    text-align:center;
    color:white;
}
.similar__search--margin {
    margin-bottom:0;
}

.project__collaborate, .dashboard__status--btns {
    background-color: #004d9a;
    color: white;
    text-align: center;
    border-radius: .3rem;
}

.project__collaborate {
    height: 2rem;
    line-height: 2rem;
}

.project__collaborate {
    width: 7rem;
}

.dashboard__status--btns {
    padding: .4rem;
    float: left;
    white-space: normal;
    margin-bottom: .6rem;
}

.dashboard__status--disabled {
    background-color: #dddddd;
}

.dashboard__status--disabled a {
    color: #bdbdbd;
    font-weight: 400;
}

.dashboard_certificate-btn {
    background-color: #039be5;
}

.project__collaborate a, .dashboard__status--btns a {
    color: white;
}

.dashboard__status--btns a:hover {
    color:inherit;
}
.project__collaborate:hover, .dashboard__status--btns:hover {
    background-color: #0169d2;
}

.dashboard_certificate-btn:hover {
    background-color: rgb(4, 173, 255);
}

footer {
    margin-top:0 !important;
}

footer.page-footer .footer-copyright {
    color: #004d9a;
    background-color: rgba(51, 51, 51, 0.18);
    height: auto;
    line-height: auto;
    font-weight: 400;
}

.footer__logo--ufhealth {
    padding: 0 3rem;
}

.footer__logo--uf {
    padding: .5rem 2rem .8rem;
}

.shape__circle {
    width: 75px;
    height: 75px;
    background: #004d9a;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    float:left;
    margin-right:1.5rem;
    clear:both;
}

.btn:hover, .btn-large:hover, .btn:focus {
    background-color: #e87910;
    color: white;
}

.clear__both {
    clear:both;
}

.shape__circle--text {
    display: block;
    position: relative;
    top: -0.5rem;
    right: -1.8rem;
    font-size: 4rem;
}

.font__opensans {
    font-family: 'Open Sans', sans-serif;
}

.font__sourcesans {
    font-family: 'Source Sans Pro', sans-serif;
}

.font__roboto {
    font-family: 'Roboto Condensed', sans-serif;
}

.font__arvo {
    font-family: 'Arvo', serif;
}

iframe {
    display: block;
}

.nav__logo {
    margin-top: .5rem;
    height: 3.5rem;
    padding-left: 0.3rem;
}

.btn {
    /* gator orange */
    background-color: #e28f41;
}

.cts-toast {
    position: fixed;
    width: 60%;
    height: auto;
    color: white;
    background-color: #e28f41;
    bottom: 5px;
    font-size: xx-large;
    text-align: center;
    transition: 1s;
    left: 20%;
    border-radius: 2px;
    box-shadow: 3px 3px 3px #888888;
    max-height: 0;
    transition: .5s;
}

.cts-toast--active {
    max-height: 3.2rem;
}

.project__title {
    text-overflow: ellipsis;
    font-family:'Open Sans', sans-serif;
    color:#757575;
    padding-right: 2rem;
}

.project__title--forms {
    float: right;
}
.tag-holder {
    display: inline-block;
    margin: 0;
}

.tagbox__input {
    position: relative;
}

.tag {
    display: inline;
    color: white;
    margin-left: .1rem;
    margin-right: .5rem;
}

.tag__container {
    background-color: #004d9a;
    display: inline;
    float: left;
    border-radius: .5rem;
    margin: 0.3rem; 
    padding: .3rem;
    font-size: 1.2rem;
    font-weight: 300;
}

.tag__delete {
    font-size: 1.4rem;
    position: relative;
    padding-right: .1rem;
    top: 0.255rem;
    color: white;
    font-weight: 900;
    background: transparent !important;
    display: inline;
    font-family: 'Material Icons';
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    cursor: pointer;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.tag__delete:hover {
    color: #b1dcfb;
}

.tag__list--loading {
    width: 20px;
    height: 20px;
    float: right;
    border-color: #004d9a;
}

.hidden {
    display: none;
}

.question__text {
    font-size: 1.3rem;
    margin-top:3rem;
    margin-bottom:0;
}

.question__description {
    font-size:1.2rem;
}

.question__yn {
    display: inline;
    margin-right: 2rem;
}

.question__modal:hover {
    color: #004d9a;
}

.question__modal {
    font-weight: 600;
    font-size:1.2rem;
}

.headerbg__interiorpg {
    background-color: rgba(177, 220, 251, 0.49);
}

.question__header {
    margin: 0;
    padding: 4rem 0 0;
    font-weight: 100;
}

.question__header--sub {
    padding-bottom: 3rem;
    font-size: 1.7rem;
    font-weight: 300;
}

.back__dashboard {
    font-size: 1.5rem;
    margin: 0 auto;
    display: block;
    margin: 3rem 0;
}

.back__dashboard:hover {
    color: #004d9a;
}



.btmnav {
    text-align:center;
    margin-top: 3rem;
}

.btmnav__btn--interior {
    margin: 0 1rem;
}


[type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:before, [type="radio"].with-gap:checked + label:after {
    border: 2px solid #004d9a;
}

[type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:after {
    background-color: #004d9a;
}


[type="radio"]:not(:checked) + label, [type="radio"]:checked + label {
    font-size:1.3rem;
}

.tag_label {
    float: left;
    position: relative;
    left: -.5rem;
    margin-left: .3rem;
    padding-left: .2rem;
}

.cert__border {
    height: auto;
    padding: 1.2rem;
    text-align: center;
    border: 2rem solid #02386f;
    margin: 0 auto;
    display: flex;
}

.cert__border--inner {
    position: relative;
    width: auto;
    height: auto;
}

.cert__text, .cert__text--small {
    font-family: "Helvetica", sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 2.2rem;
    margin: 0 auto;
}

.cert__text {
    width: 90%;
}

.cert__text--small {
    max-width: 37rem;
}

.cert__text--name {
    font-family: 'Amiri', serif;
    font-size: 3rem;
    font-weight: bold;
}

.cert__text--header {
    padding-top: 1.5rem;
    font-size: 3rem;
    font-family: 'Eczar', serif;
    text-transform: uppercase;
}

.cert__text--xsmall {
    font-style: italic;
    font-size: 1rem;
}

.cert__image {
    height: 6rem;
    z-index: -1;
    background-size: contain;
    margin:0 auto;
}

.cert__print--btn {
    margin-bottom: 2rem;
}

.cert__list--pd ul, .criteria ul  {
    padding-left: 2rem;
}

.cert__list--pd ul, .cert__list--pd ul li, .criteria ul, .criteria ul li {
    list-style-type: square;
}

.congrats__sub {
    font-weight: 300;
    padding-bottom: 2rem;
}

textarea.form__textarea--with-border {
    border: 1px solid #9e9e9e;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: auto;
    padding-left: .5rem;
    box-sizing: inherit;
}

textarea.form__textarea--with-border:focus:not([readonly]) {
  border: 1px solid #26a69a;
  box-shadow: 4px 4px 8px 1px #26a69a;
}

form .form__input--with-border {
    font-size: 1.2rem;
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    border: 1px solid #9e9e9e;
    border-radius: 5px;
    padding-left: .5rem;
    margin: 0;
    box-sizing: inherit;
}

textarea.description__height {
    min-height: 18rem;
}

textarea.textarea__height {
    min-height: 9rem;
}

/*Admin Pages*/
.navbar-fixed--admin {
    z-index: 996;
}

.margin-top {
    margin-top: 1rem;
}

.headerbg__admin {
    background-color: #fecb85;
}

.icon__admin {
    position: relative;
    top: .5rem;
}

.dashboard_btns-admin {
    display: inline;
}

.dashboard_btns-admin a:hover {
    color: #004d9a;
}

.dashboard__edit {
    display: inline;
    color: #757575;
}

.dashboard__edit i {
    font-size: 1.3rem;
    position: relative;
    top: .2rem;
}

@media screen and (min-width: 420px) {
    .nonapprove__header--advisor {
            font-size: 2.5rem;
        }
}

@media screen and (min-width: 500px) {
    .nonapprove__irb {
    max-width:30rem;
    }

    .nonapprove__header--advisor {
        font-size: 3rem;
      }

    .error__404 {
    font-size: 20rem;
    line-height: 16rem;
    }

    .bg__img-graphs {
    height:75rem;
    }

    img.bigaims__img {
    max-width: 30rem;
    }
}

@media screen and (min-width: 601px) {
    .dashboard_menu {
        border-bottom: none;
    }

    .dashboard_border-left {
    border-left: #d0d0d0 solid 1pt;
    }

    #quality--details label {
    min-height: 48px;
    }

    .bg__img-graphs {
    height: 45rem;
    }

    .box-white {
    width: 32% !important;
    margin: 1%;
    border: 5px solid #e8e8e8;
    height: 380px;
    }

    .create__img {
    max-width: 100% !important;
    }

    .col.bg__tags--blue1.m6{
        margin-right: 1%; 
        width: 49%; 
    }

    .col.bg__tags--blue2.m6  {
        margin-left: 1%; 
        width: 49%; 
    }

    .col.about__bgtags--blue4.m6 {
        margin-left: .8rem;
        width: 48%;
    }

    .col.about__bgtags--blue1.m4 {
        margin-left: 1rem; 
        margin-right: 1%; 
        width: 31%; 
    }

    .col.about__bgtags--blue2.m4  {
        margin-left: 1%;
        margin-right: 1%; 
        width: 31%; 
    }

    .col.about__bgtags--blue3.m4  {
        margin-left: 1%; 
        width: 31%; 
    }

    .col.about__bgtags--blue2, .col.about__bgtags--blue3 {
        margin-top: 0;
    }
}

@media screen and (min-width: 609px) {
    nav ul a {
    padding-left:1rem;
    padding-right:1rem;
    }
}

@media screen and (min-width: 623px) {
    .nonapprove__header {
        font-size: 3rem;
    }

    .nonapprove__caution, .nonapprove__caution--advisor {
    width: 19rem;
    }
}

@media screen and (min-width: 650px) {
    .cert__border--inner {
        padding: 1rem;
        border: #787878 dotted .3rem;
    }
    .footer__logo--height {
    height: 3rem;
    }
}

@media screen and (min-width: 700px) {
    .dashboard_search-input {
        width: 11.8rem!important;
    }

    .dashboard_search {
        width: 17.5rem;
        float: right;
    }

    .dashboard__status--btns {
        width: 160px;
    }

    .dashboard_status {
        min-width: 13rem;
    }

    .project__title--forms {
        min-width: 14rem;
    }
}

@media screen and (min-width: 740px) {
    .nonapprove__header, .nonapprove__header--advisor {
        font-size: 3.2rem;
    }
}

@media screen and (min-width: 784px) {
    .input_suffix, .input_clinical_area, .input_speciality, .input_expertise, .input_qi_interest {
    float: left;
    }

    .about__sec--header {
        padding-top:2rem;
    }
}

@media screen and (min-width: 789px) {
    .nonapprove__header, .nonapprove__header--advisor {
        font-size: 3.5rem;
    }
}

@media screen and (min-width: 791px) {
    .about__txtfield--md {
        width: 22rem;
    }
}

@media screen and (min-width: 800px) {
    .box-white {
        width: 30% !important;
        margin: 3%;
        border: 10px solid #e8e8e8;
    }
}
@media screen and (min-width: 842px) {
    .footer__logo--height {
    height: 4rem;
    }
}

@media screen and (min-width: 880px) {
    .fcm__text-box {
        height: 7.5rem;
    }
}

@media screen and (min-width: 958px) {
    .cert__text--name {
        font-size: 3.7rem;
    }

    .cert__text--header {
        font-size: 3.9rem;
    }
}

@media screen and (min-width: 993px) {
    .container__dashboard {
        width: 95%;
    }

    .bg__ltblue {
        margin-top: -2.9rem;
        padding-top: 5rem !important;
        padding-bottom: 3.5rem;
    }

    .video__alignment {
        margin-right: 3rem;
        margin-top: 6rem;
    }

    img.bigaims__img {
        max-width: 100%;
    }

    .about__collab {
        clear: none;
    }
    
    .landing__steps {
        height: 14rem;
        padding: 1rem;
    }

    .landing__steps--border {
        border-right: thin solid #757575;
    }

    .bg__img {
        min-height: 49rem;
    }

    .div-pointer-down--transparent {   
        border-width: 40px;
    }
}

@media screen and (min-width: 1105px) {
    .fcm__text-box {
        height: 6.5rem;
    }
}

@media screen and (min-width: 1200px) {
    .bg__ltblue {
        margin-top: -2.96rem;
    }

    .footer__logo--uf {
        padding-top: .5rem;
    }

    .footer__logo--height {
    height: 5rem;
    }
}

@media screen and (min-width: 1313px) {
    .bg__img {
        background-position: center;
        min-height: 42rem;
    }

    .video__alignment {
        margin-top: 2rem;
    }

    .bg__ltblue {
    padding-top: 3rem !important;
    padding-bottom: 2.5rem !important;
    }
}

@media screen and (min-width: 1436px) {
    .footer__logo--height .footer__logo--ufhealth {
        height: 6rem;
    }

    .footer__logo--height .footer__logo--uf {
        height: 5rem;
        margin-top: 1rem;
    }

    .footer__logo--height {
    height: 6rem;
   }

   .fcm__text-box {
        height: 5.6rem;
    }
}

@media screen and (min-width: 1484px) {
    .about__header {
        font-size: 2rem;
    }
}

@media screen and (min-width: 1500px) {
    .bg__img {
        min-height: 45rem;
    }

    .header {
        padding-bottom: 1rem;
    }

    .bg__ltblue {
        padding-top: 6rem !important;
        padding-bottom: 3.5rem !important;
        max-width: 33rem;
    }
}

@media screen and (min-width: 1600px) {
    img.bigaims__img {
        max-width: 30rem;
    }
}


/* The container <div> - needed to position the dropdown content */
.dropdown {
    width: 100%;
    position: relative;
    display: inline-block;
}

/* Dropdown Content */
.dropdown-content {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    opacity: 100;
}

/* List items inside the dropdown */
.dropdown-content li {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.row .padding--no-right {
    padding-right: 0;
}
