nav {
    background-color: #004d9a;
}

nav ul a {
    padding-left:.5rem;
    padding-right:.5rem;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.home__section {
    margin-bottom:0;
}

.bg__img {
    background: url("../img/shands__bgimage.jpg") no-repeat top center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:64rem;
}

.bg__ltblue {
    background-color: #43b1e5;/*
    height: 100%;*/
    margin-top: 1rem;
    opacity: 0.89;
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
}

.text__callout {
    font-size:2.2rem;
    color: #004d9a;
}

.text__blue {
    color: #004d9a;
}

.video__alignment {
    margin-right:3rem;
    margin-top:1rem;
}

.text__med {
    font-size:1.5rem;
}

.shape__circle {
    width: 75px;
    height: 75px;
    background: #004d9a;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    float:left;
    margin-right:1.5rem;
    clear:both;
}

.btn:hover, .btn-large:hover, .btn:focus {
    background-color: #e87910;
    }

.clear__both {
    clear:both;
}

.shape__circle--text {
    display: block;
    position: relative;
    top: -0.5rem;
    right: -1.8rem;
    font-size: 4rem;
}

.font__opensans {
    font-family: 'Open Sans', sans-serif;
}

.font__sourcesans {
    font-family: 'Source Sans Pro', sans-serif;
}

.font__roboto {    
    font-family: 'Roboto Condensed', sans-serif;
}

.font__arvo {
    font-family: 'Arvo', serif;
}

.footer__margin {

}

.icon {
    float: left;
}

iframe {
    display: block;
}

.nav__logo {
    height: 90%;
    padding-left: 0.3rem;
}

.btn {
    /* gator orange */
    background-color: #e28f41;
}

.cts-toast {
    position: fixed;
    width: 60%;
    height: auto;
    color: white;
    background-color: #e28f41;
    bottom: 5px;
    font-size: xx-large;
    text-align: center;
    transition: 1s;
    left: 20%;
    border-radius: 2px;
    box-shadow: 3px 3px 3px #888888;
    max-height: 0;
    transition: .5s;
}

.cts-toast--active {
    max-height: 3.2rem;
}

.project__title {
    text-overflow: ellipsis;
}

.tag-holder {
    display: inline-block;
    margin: 0;
}

.tagbox__input {
    position: relative;
}

.tag {
    display: inline;
    color: white;
    margin-left: .1rem;
    margin-right: .1rem;
}

.tag__container {
    display: inline;
    float: left;
    background-color: #e28f41;
    border-radius: 10px;
    margin: .3rem;
    padding: .2rem;
    font-size: .8rem;
    font-weight: 300;
}

.tag__delete {
    position: relative;
    padding-left: .1rem;
    top: 0.255rem;
    color: white;
    font-weight: 900;
    background: transparent !important;
    display: inline;
    font-family: 'Material Icons';
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.question__text {
    text-indent: 3.5rem;
}

.question__description {
    text-indent: 3.5rem;
}

.tag_label {
    float: left;
    position: relative;
    left: -.5rem;
    margin: .3rem;
    padding: .2rem;
}

.cert__border {
    max-width: 68rem;
    height: auto;
    padding: 1.2rem;
    text-align: center;
    border: 2rem solid #02386f;
    margin: 0 auto;
    display: flex;  
}

.cert__border--inner {
    position: relative;
    width: auto;
    height: auto;
}

.cert__text, .cert__text--small {
    font-family: "Helvetica", sans-serif;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 2.2rem;
    margin: 0 auto;
}

.cert__text {
    width: 90%;
}

.cert__text--small {
    max-width: 37rem;
}

.cert__text--name {
    font-family: 'Amiri', serif;
    font-size: 3rem;
    font-weight: bold;
}

.cert__text--header {
    padding-top: 1.5rem;
    font-size: 3rem;
    font-family: 'Eczar', serif;
    text-transform: uppercase;
}



.cert__text--xsmall {
    font-style: italic;
    font-size: 1rem;
}

.cert__image {
    height: 6rem;
    width: 6rem;
    z-index: -1;
    background-image: url(/static/qipr/img/UF_Seal.gif);
    background-size: contain;
    margin:0 auto;
}

textarea.form__textarea--with-border {
    border: 1px solid #9e9e9e;
    padding-top: 5px;
    padding-bottom: 5px;
    height: auto;
}

textarea.form__textarea--with-border:focus:not([readonly]) {
  border: 1px solid #26a69a;
  box-shadow: 4px 4px 8px 1px #26a69a;
}

.form__input--with-border {
    border: 1px solid #9e9e9e !important;
}

@media screen and (min-width: 609px) {
    .bg__img {
        height:72rem;
    }

    nav ul a {
    padding-left:1rem;
    padding-right:1rem;
    }
}

@media screen and (min-width: 650px) {
    .cert__border--inner {
        padding: 1rem;
        border: #787878 dotted .3rem;
    }
}

@media screen and (min-width: 958px) {
    .cert__text--name {
        font-size: 3.7rem;
    }

    .cert__text--header {
        font-size: 3.9rem;
    }
}

@media screen and (min-width: 993px) {
    .bg__ltblue {
        margin-top: -2.9rem;
    }

    .video__alignment {
        margin-top: 6rem;
    }

    .bg__img {
        height:650px;
    }
    .bg__ltblue {
        padding-bottom: 3.5rem !important;
    }
}

@media screen and (min-width: 1200px) {
    .bg__ltblue {
        margin-top: -2.96rem;
    }
}

@media screen and (min-width: 1436px) {
    .bg__ltblue {
        padding-bottom: 5rem !important;
    }
}
