nav {
    background-color: #004d9a;
}

nav ul a {
    padding-left:.5rem;
    padding-right:.5rem;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

p, a {
    font-family: 'Open Sans', sans-serif;
    }

h3 {
    font-family: 'Roboto Condensed', sans-serif;
}    

.home__section {
    margin-bottom:0;
}

.bg__img {
    background: url("../img/shands__bgimage.jpg") no-repeat top center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:64rem;
}

.bg__ltblue {
    background-color: #43b1e5;/*
    height: 100%;*/
    margin-top: 1rem;
    opacity: 0.89;
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
}

.text__callout {
    font-size:2.2rem;
    color: #004d9a;
}

.text__blue {
    color: #004d9a;
}

.video__alignment {
    margin-right:3rem;
    margin-top:1rem;
}

.text__med {
    font-size:1.5rem;
}

/*Navbar*/
.nav_li {
    text-transform: uppercase;
}
.nav_li:hover {
    border-bottom: #039be5 4px solid;
}

.btn__logout {
    line-height: 2rem;
    height: 2rem;
    width: 5rem;
    padding: 0 .6;
}

nav ul a.btn:hover, .side-nav a.btn:hover, .side-nav a.btn-large:hover, .side-nav a.btn-large:hover {
    background-color: #e47004;
    }

nav .button-collapse {
    float: right;
}

/*IRB Approval Page*/
.nonapprove__margin--top {
    margin-top:2rem;
    }

.nonapprove__center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nonapprove__irb {
    width: 100%;
    margin-top: 2rem;
}

.nonapprove__header {
    color: #686868;
    font-size: 2.5rem;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
    text-align: center;
}

.nonapprove__body {
    font-size:19px;
}

.nonapprove__body--link {
    font-weight: 600;
    color: #fec56f;
}

.nonapprove__body--link:hover {
    color: #686868;
}

.nonapprove__caution {
    width: 18rem;
}

/*Dashboard*/
.dashboard #content {
    width: 600px;
}

.dashboard_title {
    background-color: #f2f2f2;
    color: #004d9a;
    margin-top: 1rem;
    border: 1pt #d0d0d0 solid;
    border-bottom: 0;
}

.dashboard_border {
     border: #d0d0d0 solid 1pt;
 }

.dashboard_search {
    margin-top: 0;
    border: 1pt #ddd solid;
}

.dashboard_search-input {
    border-bottom: none !important;
    margin-bottom: .5rem !important;
    height: 2rem !important;
}

.dashboard_add-btn {
    font-size: 2rem;
    display: inline;
    border: dashed 2pt;
    padding: .01rem .7rem;
    margin-right: .7rem;
}

.dashboard_add-text {
    text-transform: uppercase;
    font-size: 1.25rem;
    display:inline;
}

.dashboard_add:hover {
    color: #004d9a;
}

.dashboard_row-title {
    color:#004d9a;
}

.dashboard_row-title li {
    font-weight: normal;
    color: grey;
}

.dashboard__question {
    font-size: 1.1rem;
    display: inline-block;
    color: white;
    background-color: #004d9a;
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    border-radius: 1rem;
}

.dashboard__question:hover {
    background-color: #0089ec;
}

.dashboard_menu {
        border-bottom: #d0d0d0 solid 1pt;
    }

.dashboard_menu-item, .dashboard_menu-item-active {
    padding-left: .7rem;
    font-size: 1.2rem;
}

.dashboard_menu-item a {
    color:black;
}

.dashboard_menu-item-active, .dashboard_menu-item:active, .dashboard_menu-item:visited, .dashboard_menu-item:hover {
    border-left: 3pt #004d9a solid;
    font-weight: 500;
}

.dashboard_title-bg {
    margin-bottom:0;
}

.dashboard_delete {
    border: none;
    background-color: transparent;
    padding-left: 0;
}

.dashboard_delete--form {
    display: inline;
    color: #039be5;
}

.dashboard_delete--form input:hover {
    color: red;
}

.dashboard_btns-edit a:hover, .dashboard_btns-view:hover {
    color: #004d9a;
}

.dashboard_approved {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    font-weight: 400;
    text-align:center;
    box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.2);
    border: #004d9a .3rem solid;
    border-radius: .3rem;
}

/*.dashboard_approved:hover {
    background-color: #004d9a
}*/

.dashboard_approved-text  {
    font-weight: 300;
    color: #004d9a;
}

.dashboard_approved-text:hover  {
    color:#004d9a;
}

.dashboard_delete--form input:focus {
    outline: none;
}

.dashboard_projects-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    padding-top: 1.5rem;
    vertical-align: top !important;
}

td, th {
    vertical-align: top;
    padding-top: 1.5rem;
}

.dashboard_title-main {
    margin: .5rem 0;
    font-size: 2.5rem;
}

.dashboard_status a {
    font-weight: 600;
    color: #757575;
}

.dashboard_status a:hover {
    color: #0089ec;
}

.dashboard__list {
    padding-bottom: .3rem; 
}
.dashboard_status {
    padding-left:2rem;
    min-width: 13rem;
}

.dashboard__check {
    color: #4caf50;
    display: inline;
    margin-right: .5rem;
}

.dashboard__star {
    color: #0089ec;
    display: inline;
    margin-right: .5rem;
}

.dashboard__red {
    color: #f44336;
    text-transform:uppercase;
}

.dashboard__green {
    color: #4caf50;
    text-transform:uppercase;
}

.dashboard__exclaimation {
    background-color: #f44336;
    display: inline;
    font-weight: 600;
    color: white;
    border-radius: 1rem;
    padding: 0 .5rem;
    margin-right: .5rem;
    text-align: center;
}


.dashboard_row-title-project {
    padding-left:2rem;
}

.dashboard_certificate-btn {
    background-color: #004d9a;
    color: white;
    padding: .2rem;
    font-size: 1.08rem;
    display: block;
    height: 2rem;
    line-height:1.8rem;
    text-align: center;
    margin-top: 0.5rem;
    margin: 0 auto;
}

.dashboard_certificate-btn:hover {
    background-color: #039be5;
}

.dashboard_stats {
    padding: 3rem;
    background-color: #b1dcfb;
    margin-bottom: 0;
    color:#004d9a;
}

.dashboard__updated {
    color: #bdbdbd;
    font-style: italic;
    padding-top: .3rem;
    }    

.dashboard_btns-edit, .dashboard_btns-view {
    display:block;
    padding-top:1rem;
}

.pagination {
    margin-top:2rem;
}

/*Similar Projects*/
.btn__similar {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4rem;
    color: #444;
    background-color: #e0e0e0 !important;
    font-weight: 300;
}

.similar__header {
    font-weight:200;
    }

.similar__body {
    text-align: center;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 1.7rem;
    color: #757575;
}

.similar__search--bg {
    background-color: #004d9a;
    color:white;
    padding: 3rem 0;
}

.similar__search--search, .similar__search--header {
    font-family:'Open Sans', sans-serif;
    font-weight:200;
    text-align:center;
}

.similar__search--search {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 2.2rem;
    margin-bottom: 0;
}

.similar__search--searchicon:hover {
    color: #b1dcfb;
}

.similar__search--searchicon {
    text-align:center;
    color:white;
}
.similar__search--margin {
    margin-bottom:0;
}

.project__collaborate {
    width: 7rem;
    height: 2rem;
    line-height: 2rem;
    background-color: #004d9a;
    color: white;
    text-align: center;
    border-radius: .3rem;
}

.project__collaborate a {
    color: white;
}

.project__collaborate:hover {
    background-color: #0169d2;

}

footer {
    margin-top:0 !important;
}


.shape__circle {
    width: 75px;
    height: 75px;
    background: #004d9a;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    float:left;
    margin-right:1.5rem;
    clear:both;
}

.btn:hover, .btn-large:hover, .btn:focus {
    background-color: #e87910;
    }

.clear__both {
    clear:both;
}

.shape__circle--text {
    display: block;
    position: relative;
    top: -0.5rem;
    right: -1.8rem;
    font-size: 4rem;
}

.font__opensans {
    font-family: 'Open Sans', sans-serif;
}

.font__sourcesans {
    font-family: 'Source Sans Pro', sans-serif;
}

.font__roboto {    
    font-family: 'Roboto Condensed', sans-serif;
}

.font__arvo {
    font-family: 'Arvo', serif;
}

.footer__margin {

}

.icon {
    float: left;
}

iframe {
    display: block;
}

.nav__logo {
    height: 90%;
    padding-left: 0.3rem;
}

.btn {
    /* gator orange */
    background-color: #e28f41;
}

.cts-toast {
    position: fixed;
    width: 60%;
    height: auto;
    color: white;
    background-color: #e28f41;
    bottom: 5px;
    font-size: xx-large;
    text-align: center;
    transition: 1s;
    left: 20%;
    border-radius: 2px;
    box-shadow: 3px 3px 3px #888888;
    max-height: 0;
    transition: .5s;
}

.cts-toast--active {
    max-height: 3.2rem;
}

.project__title {
    text-overflow: ellipsis;
    font-family:'Open Sans', sans-serif;
    color:#757575;
    padding-right: 2rem;
}

.project__title--forms {
    float: right;
    min-width: 14rem;
}
.tag-holder {
    display: inline-block;
    margin: 0;
}

.tagbox__input {
    position: relative;
}

.tag {
    display: inline;
    color: white;
    margin-left: .1rem;
    margin-right: .1rem;
}

.tag__container {
    display: inline;
    float: left;
    background-color: #e28f41;
    border-radius: 10px;
    margin: .3rem;
    padding: .2rem;
    font-size: .8rem;
    font-weight: 300;
}

.tag__delete {
    position: relative;
    padding-left: .1rem;
    top: 0.255rem;
    color: white;
    font-weight: 900;
    background: transparent !important;
    display: inline;
    font-family: 'Material Icons';
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.question__text {
    text-indent: 3.5rem;
}

.question__description {
    text-indent: 3.5rem;
}

.tag_label {
    float: left;
    position: relative;
    left: -.5rem;
    margin: .3rem;
    padding: .2rem;
}

.cert__border {
    width: 58rem;
    height: auto;
    padding: 1.2rem;
    text-align: center;
    border: .75rem solid #787878
    
}

.cert__border--inner {
    position: relative;
    width: auto;
    height: auto;
    border: .5rem solid #787878;
}

.cert__text {
    font-family: "Times New Roman", Times, serif;
    font-size: 2rem;

}

.cert__text--header {
    font-size: 3rem;
    font-weight:bold;
}

.cert__text--small {
    font-size: 1.5rem;
}

.cert__text--xsmall {
    font-style: italic;
    font-size: 1rem;
}

.cert__image {
    height: 9rem;
    width: 9rem;
    z-index: -1; 
    background-image: url("/static/qipr/img/UF_Seal.gif");
    background-size: contain;
    right: 1rem;
    position: absolute;
}

textarea.form__textarea--with-border {
    border: 1px solid #9e9e9e;
    padding-top: 5px;
    padding-bottom: 5px;
    height: auto;
}

textarea.form__textarea--with-border:focus:not([readonly]) {
  border: 1px solid #26a69a;
  box-shadow: 4px 4px 8px 1px #26a69a;
}

.form__input--with-border {
    border: 1px solid #9e9e9e !important;
}

@media screen and (min-width: 500px) {
    .nonapprove__irb {
    max-width:30rem;
    }
}

@media screen and (min-width: 601px) {
    .dashboard_menu {
        border-bottom: none;
    }

    .dashboard_border-left {
    border-left: #d0d0d0 solid 1pt;
    }
}

@media screen and (min-width: 609px) {
    .bg__img {
        height:72rem;
    }

    nav ul a {
    padding-left:1rem;
    padding-right:1rem;
    }
}

@media screen and (min-width: 623px) {
    .nonapprove__header {
        font-size: 3rem;
    }

    .nonapprove__caution {
    width: 19rem;
    }
}

@media screen and (min-width: 740px) {
    .nonapprove__header {
        font-size: 3.2rem;
    }
}

@media screen and (min-width: 789px) {
    .nonapprove__header {
        font-size: 3.5rem;
    }
}

@media screen and (min-width: 993px) {
    .bg__ltblue {
        margin-top: -2.9rem;
    }

    .video__alignment {
        margin-top: 6rem;
    }

    .bg__img {
        height:650px;
    }
    .bg__ltblue {
        padding-bottom: 3.5rem !important;
    }
}

@media screen and (min-width: 1200px) {
    .bg__ltblue {
        margin-top: -2.96rem;
    }
}

@media screen and (min-width: 1436px) {
    .bg__ltblue {
        padding-bottom: 5rem !important;
    }
}
