.cts-toast {
    position: fixed;
    width: 60%;
    height: auto;
    color: white;
    background-color: #6e72ee;
    bottom: 5px;
    font-size: xx-large;
    text-align: center;
    transition: 1s;
    left: 20%;
    border-radius: 2px;
    box-shadow: 3px 3px 3px #888888;
    max-height: 0;
}

.cts-toast--active {
    max-height: 3.2rem;
}

.project__title {
    text-overflow: ellipsis;
}

.tag-holder {
  display:inline-block;
}

.tagbox__input {
    position: relative;
    top: -1rem;
}

.tag {
  display: inline;
  color: white;
  margin-left: .1rem;
  margin-right: .1rem;
}

.tag__container {
  display: inline;
  /* the following color is the blue green thing we currently have */
  background-color: #26a69a;
  border-radius: 10px;
  margin: .3rem;
  padding: .2rem;
  font-size: .8rem;
  font-weight: 300;
}

.tag__delete {
  position: relative;
  padding-left: .1rem;
  top: 0.255rem;
  color: white;
  font-weight: 900; 
  background: transparent !important;
  display: inline;
  font-family: 'Material Icons';
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
